// variables de colores
$color-primary: #af3e40;
$color-secondary: #feedd9;
$color-terciary:#ffffff;
$color-quaternary:#251c5b;
$color-black: rgb(0, 0, 0);

//variables background
$background-primary:rgb(255, 255, 255);

//variables para fuentes
$font-primary:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;



